---
---

@import 'jekyll-theme-cayman';

.center-image
{
    margin: 0 auto;
    display: block;
}

.page-header 
{
    background-color: white;
    background-image: none; 
    padding: 0px !important;
}
